<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body style="width: 100% !important; -webkit-text-size-adjust: none; margin: 0; padding: 0; background: #ffffff;">
    <center>
        <table id="backgroundTable" style="border-spacing: 0; border-collapse: collapse; font-family: proxima-nova, 'helvetica neue', helvetica, arial, geneva, sans-serif; height: 100% !important; width: 100% !important; color: #000000; font-size: 15px; line-height: 150%; background: #ffffff; margin: 0; padding: 0; border: 0;">
          <tr>
            <td>
              <img src='https://i.imgur.com/OM1zetz.png' style='width: 100%;' width='100%'/>
            </td>
          </tr>
            <tr style="vertical-align: top; padding: 0;">
                <td align="center" valign="top" style="vertical-align: top; padding: 0;">
                    <table id="templateContainer" style="border-spacing: 0; border-collapse: collapse; font-family: proxima-nova, 'helvetica neue', helvetica, arial, geneva, sans-serif; height: 100%; width: 600px; color: #000000; font-size: 15px; line-height: 150%; background: #ffffff; margin: 40px 0; padding: 0; border: 0;">
                        <tr style="vertical-align: top; padding: 0;">
                            <td class="templateContainerPadding" align="center" valign="top" style="vertical-align: top; padding: 0 40px;">
                                <table id="templateContent" style="border-spacing: 0; border-collapse: collapse; font-family: proxima-nova, 'helvetica neue', helvetica, arial, geneva, sans-serif; height: 100%; width: 100%; background: #ffffff; margin: 0; padding: 0; border: 0;">
                                    <tr style="vertical-align: top; padding: 0;">
                                        <td style="vertical-align: top; text-align: left; padding: 0;" align="left" valign="top">
                                            <img src='https://i.imgur.com/QmYyHgf.png' style='width: 450px; max-width: 100%;' />
                                            {{{intro}}}
                                            <div style='font-size: 17px;'>
                                                <h3>Your priority constituencies right now</h3>
                                                {{#each constituencies}}
                                                <table style="border-radius: 10px; border: 1px solid #BFBFBF; width: 100%; padding: 10px; margin-bottom: 20px;">
                                                    <tr>
                                                        <td>
                                                            <a href="https://www.mycampaignmap.com/constituency/{{this.constituency.id}}?utm_source=mcm_recommend_email" style="text-decoration: none; color: black;">
                                                            <div>
                                                            📍 {{this.constituency.name}}
                                                            </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {{#each this.events}}
                                                    <tr>
                                                        <td>
                                                            <hr style='border: 0; border-bottom: 1px solid #E8E8E8;' />
                                                            <a href='https://www.mycampaignmap.com/event/{{this.id}}?utm_source=mcm_recommend_email' style='text-decoration: none; color: inherit; display: block;'>
                                                                <b>🗓 {{this.properties.startTime}}</b>
                                                                <div>{{this.properties.name}}</div>
                                                                <div>
                                                                    <a href='https://www.mycampaignmap.com/event/{{this.id}}?utm_source=mcm_recommend_email' style='color: #E4121F;'>
                                                                        Tell us you're coming
                                                                    </a>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </table>
                                                {{/each}}
                                                <h3>Meet up with other activists!</h3>
                                                <p>Labour activists in your area are using WhatsApp and Facebook groups to arrange to meet up and go canvassing together. Join a group now!</p>
                                                <table style="border-radius: 10px; border: 1px solid #BFBFBF; width: 100%; padding: 10px; ">
                                                  <tr>
                                                    <td>
                                                      💬 Groups in your area
                                                    </td>
                                                  </tr>
                                                {{#each groups}}
                                                    <tr>
                                                        <td>
                                                            <hr style='border: 0; border-bottom: 1px solid #E8E8E8;' />
                                                            <a href='{{this.joinLink}}' style='text-decoration: none; color: inherit; display: block;'>
                                                                <div><b>{{this.name}} <img src='{{this.platform.icon}}' style='width: 40px;' /></b></div>
                                                                {{#if this.description}}
                                                                <div>{{this.description}}</div>
                                                                {{/if}}
                                                                <div>{{#each this.tags}}{{this.name}}&nbsp; &middot;{{/each}}</div>
                                                                <div>
                                                                    <a href='https://www.mycampaignmap.com/join?name={{this.name}}&uri={{this.encodedJoinLink}}&utm_source=mcm_recommend_email' style='color: #E4121F;'>
                                                                      Join this {{this.platform.name}} &rarr;
                                                                    </a>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </table>
                                            </div>
                                            <p>Get more nearby canvassing recommendations at <a href="https://www.mycampaignmap.com/recommendations/{{postcode}}?utm_source=mcm_recommend_email" style='color: #E4121F;'>🗺 My Campaign Map.</a></p>
                                            <p>
                                              Solidarity,<br/>
                                              Momentum ✊
                                            </p>
                                            <img src='https://i.imgur.com/adU1Q9c.png' width='200px' />
                                            <p style='color: grey;'>Sent from Momentum at Northover House, 132a Bournemouth Road, Chandlers Ford, Eastleigh, Hants, SO53 3AL, United Kingdom. If you would like to stop receiving these emails <a href='[unsubscribe]' style='color: grey;'>click here</a>.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
    <style type="text/css">
        body {
            width: 100% !important;
        }
        
        @media screen and (max-width: 800px) {
          #templateContainer, .column-suggestions {
            width: 100% !important;
            display: block;
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
          }
          
          .templateContainerPadding {
            padding: 20px !important;
          }
        }
    </style>
  </body>
</html>
