<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metadata -->
    <title>My Campaign Map - Momentum</title>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- prevent caching of the index file -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <!-- UI -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="theme-color" content="#E20613">
    <link rel="stylesheet" href="https://use.typekit.net/feu1cvm.css" />

    <meta name="description" content="Organise events, plot them on the map, build power at the grassroots. Enter your postcode to find out how to get involved."/>
    <meta property="og:title" content="My Campaign Map - Momentum"/>
    <meta property="og:description" content="Organise events, plot them on the map, build power at the grassroots. Enter your postcode to find out how to get involved."/>
    <meta property="og:image" content="https://www.mycampaignmap.com/static/share-card.png?4362984378"/>
    <meta property="og:url" content="https://www.mycampaignmap.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="My Campaign Map"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@PeoplesMomentum"/>
    <meta name="twitter:title" content="My Campaign Map - Momentum"/>
    <meta name="twitter:description" content="Organise events, plot them on the map, build power at the grassroots. Enter your postcode to find out how to get involved."/>
    <meta name="twitter:image" content="https://www.mycampaignmap.com/static/share-card.png?4362984378"/>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="<%=process.env.REACT_APP_ROOT%>"></div>
  </body>
</html>
