<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Campaign Map – Momentum</title>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src https://www.google-analytics.com https://*.googleapis.com https://*.mapbox.com blob: 'self' gap: https://*.gstatic.com; style-src https://*.mapbox.com https://*.googleapis.com 'self' 'unsafe-inline'; media-src *; img-src 'self' blob: data: content:; connect-src <%=process.env.API_HOST%> https://*.mapbox.com https://api.postcodes.io data: blob:; font-src data: https://*.gstatic.com"
    >
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    
  </head>
  <body>
    <script type="text/javascript" src="cordova.js"></script>
    <div id="<%=process.env.REACT_APP_ROOT%>"></div>
  </body>
</html>
